<%= link_to cocktail_path(cocktail.id) do %>
  <div class="card mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random);">
    <div class="card-body">
      <%= link_to cocktail.name, cocktail_path(cocktail.id), class: ' card-title text-decoration-none' %>
      <ul>
        <% cocktail.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
